<section class="container">
    <h1>{{title}}</h1>
    <div>
        <p>Nombre: {{user.nombre}} {{user.apellido}}</p>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.rol}}</p>
        <a href="/">Volver</a>
    </div>
</section>
