<section class="container">
    <h1>{{title}}</h1>
    <div>
        <p>Nombre: {{user.name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.role}}</p>
        <a href="/">Volver</a>
    </div>
</section>