<section class="container">
    <h1>{{title}}</h1>
    <div>
        <p>Nombre: {{user.name}} {{user.last_name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.role}}</p>

        <div class="user-container">
            <h3>Usuarios</h3>
            <ul id="user-list"></ul>
        </div>

        <button type="submit" id="fetch-users">Solicitar usuarios</button>

        <a href="/">Volver</a>
    </div>
</section>
<script src="/js/main.js"></script>